<%- include('layout/userHeader') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/userService.css">

</head>
<body>

<h2 id="title">OUR SERVICES</h2>

    <% service.forEach((row, index) => { %>

        <div class="card">
            <h3><%= row.name %></h3>
            <div><img src="<%= row.image %>" width="80" class="img-thumbnail" ></div>
            <br>
            <div>                                      <!-- Button to navigate to the second page -->
                <button class="btn" onclick="navigateAppoint()">Make An Appointment</button>
        
                <!-- Include a script to handle navigation -->
                    <script>
                        function navigateAppoint() {
                             window.location.href = '/add_appoint';
                                        }
                     </script></div>
        </div>

    <% }) %>
</body>
</html>